{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <h1>Modification de votre mot de passe:</h1>
    {{ form_start(form) }}
        {{ form_row(form.check, {
            'label': 'Mot de passe actuel'
        })}}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        <button class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
