{% extends 'base.html.twig' %}

{% block body %}
    {% if not app.user %}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Connection:</h1>

            <div class="form-group">
                <label for="inputUsername" class="sr-only">Identifiant</label>
                <input 
                    type="text" 
                    value="{{ last_username }}" 
                    name="username" 
                    id="inputUsername" 
                    class="form-control" 
                    placeholder="Identifiant" 
                    required
                    autofocus
                >
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input 
                    type="password" 
                    name="password" 
                    id="inputPassword" 
                    class="form-control" 
                    placeholder="Password" 
                    required
                >
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary" type="submit">
                Se connecter
            </button>
        </form>
    {% else %}
        <div class="jumbotron">
            <h1 class="display-4">Vous êtes déjà connecté !</h1>
            <hr class="my-4">
            <p>Si ce n'est pas votre compte déconnectez-vous en appuyant sur le boutton ci-dessous.</p>
            <p class="lead">
                <a href="{{ path('logout_form') }}" class="btn btn-danger">Se deconnecter</a>
            </p>
          </div>
    {% endif %}
{% endblock %}
