{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h2>S'inscrire</h2>
        <hr>
        {{ form_start(form) }}

        {{ form_row(form.roles, {'label': 'Vous souhaitez vous inscrire en temps que:'}) }}

        {{ form_row(form.username, { 
            'label': 'Identifiant:',
            'attr': {
                'placeholder': 'identifiant'
            }
        }) }}
        {{ form_row(form.password, { 
            'label': 'Mot de passe:',
            'attr': {
                'placeholder': '**********'
            }
        }) }}

        <button class="btn btn-success">Valider</button>

        {{ form_end(form) }}
    </div>
{% endblock %}