{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h3>À propos de petite-annonce.fr</h3>
            <p>
                petite-annonce.fr, site de petites annonces généralistes en France, 
                rend service à ses internautes souhaitant acheter, vendre ou louer des biens et services.
            </p>
            <p>
                L'assurance d'une visibilité maximum à vos annonces !
                C’est 3 millions de visiteurs uniques qui, 
                chaque mois, 
                consultent les 2 millions de biens regroupés en 8 univers 
                (auto, immo, mon débarras, emplois, animaux, services, vacances et affaires de pro) 
                proposés par petite-annonce.fr. 
                petite-annonce.fr, c’est aussi le premier réseau de presse gratuite qui, 
                avec plus de 80 éditions, 
                distribue plus de 2,5 millions d’exemplaires tous les 15 jours dans les boites aux lettres des particuliers.
            </p>
        </div>
    </div>
{% endblock %}
