<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Les petites annonces</title>
        <link 
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        >
        <link rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="{{ asset('assets/css/global.css') }}">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#1052DF">
            <a class="navbar-brand" href="{{ path('main') }}">Les petites annonces</a>
            <button 
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{{ path('ad') }}" class="nav-link">Annonces</a>
                    </li>
                </ul>
                <div class="row">
                    <ul class="navbar-nav mr-auto">
                        {% if not app.user %}
                            <li class="nav-item">
                                <a href="{{ path('registration') }}" class="nav-link">S'inscrire</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('login_form') }}" class="nav-link">Se connecter</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <span class="navbar-text">
                                    Status: 
                                    <span style="color:red">
                                        {% if 'ROLE_RECRUITER' in app.user.roles %}
                                            Recruteur
                                        {% elseif 'ROLE_ADMIN' in app.user.roles %}
                                            Admin
                                        {% else %}
                                            Candidat
                                        {% endif %}
                                    </span>
                                    |
                                </span>
                            </li>
                            {% if 'ROLE_RECRUITER' in app.user.roles %}
                                <li class="nav-item ml-2">
                                    <span class="navbar-text">
                                        <a style="text-decoration:none"href="{{ path('my_ad', {'id': app.user.id}) }}">
                                            {% set fakeCount = 0 %}
                                            {% if fakeCount == 0 %}
                                                <i class="far fa-bell"></i>
                                            {% else %}
                                                <i class="fas fa-bell mr-2"></i>
                                            {%endif %}
                                            <span class="badge badge-light">{{ fakeCount }}</span>
                                        </a>
                                    </span>
                                </li>
                                <li class="nav-item ml-2">
                                    <span class="navbar-text">|</span>
                                </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" 
                                    href="#" id="navbarDropdownMenuLink" 
                                    data-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false"
                                >
                                    Connecté en tant que {{ app.user.username }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('account') }}">Mon compte</a>
                                    {% if 'ROLE_RECRUITER' in app.user.roles %}
                                        <a href="{{ path('new_ad') }}" class="dropdown-item">Ajouter</a>
                                        <a href="{{ path('my_ad', {'id': app.user.id }) }}" class="dropdown-item">Mes annonces</a>
                                    {% endif %}
                                    {% if 'ROLE_USER' in app.user.roles and 'ROLE_RECRUITER' not in app.user.roles%}
                                        <a href="{{ path('my_candidacy', {'id': app.user.id }) }}" class="dropdown-item">Mes candidatures</a>
                                    {% endif %}
                                    {% if 'ROLE_ADMIN' in app.user.roles %}
                                        <a href="{{ path('admin') }}" class="dropdown-item">Admin</a>
                                    {% endif %}
                                    <div class="dropdown-divider"></div>
                                    <a href="{{ path('logout_form') }}" class="dropdown-item">Se deconnecter</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mb-container" style="margin-top: 70px">
            {% block body %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 footer-content-centered">
                        Contact | À propos | Blabla
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}{% endblock %}
        <script 
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            type="text/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>

    </body>
</html>
