{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success flash-msg">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    {{ ad.title }}
                    {% if app.user %}
                        <i style="float:right">
                            {% if app.user.username is same as(ad.user.username) %}
                                <a class="ml-4" href="{{ path('edit_ad', {'id': ad.id}) }}"><i class="far fa-edit"></i></a>
                                <a 
                                    href="{{ path('rm_ad', {'id': ad.id}) }}" 
                                    onclick="return confirm('Voulez-vous vraiment supprimer votre annonce ?')"
                                ><i class="fas fa-trash"></i></a>
                            {% endif %}
                        </i>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <p class="card-text">{{ ad.content | raw }}</p>

                    {% if ad.skill | length > 0%}
                        <hr>
                        <h5 class="card-title">Compétence</h5>
                        <p class="card-text">
                            {% for skill in ad.skill %}
                                {{skill.level}}
                                {% for competence in skill.competence %}
                                    <li>{{ competence.name }}</li>
                                {% endfor %}
                                {% if not loop.last %}<hr>{% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}

                </div>
                <div class="card-footer">
                    {% if ad.updateAt %}
                        <span>Modifé par <strong>{{ ad.user.username }}</strong> le {{ ad.updateAt | date('m-d-Y') }}</span>
                    {% else %}
                        <span>Posté par <strong>{{ ad.user.username }}</strong> le {{ ad.createdAt | date('m-d-Y') }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if 'ROLE_RECRUITER' in app.user.roles %}
        {% if app.user.username is same as(ad.user.username) %}
            <div class="row mt-2">
                <div class="col">
                    <h3>Les canditatures de votre annonce !</h3>
                    <hr>
                    {% if posts | length < 1 %}
                        <p><i>Aucune candidature pour le moment</i></p>
                    {% else %}
                        {% for post in posts %}
                            <h5>Posté par {{ post.username }} <i style="font-size:14px">le {{ post.createdAt | date('m-d-Y') }}</i></h5>
                            <div class="ml-3">
                                <p>{{ post.content }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% elseif 'ROLE_USER' in app.user.roles %}
        {% set isCandidat = false %}
        {% for key in posts %}
            {% if app.user.username in key.username %}
                {% set isCandidat = true %}
            {% endif %}
        {% endfor %}
        {% if not isCandidat %}
            <div class="row mt-2">
                <div class="col">
                    <h3>Candidater !</h3>
                    {{ form_start(form) }}
                        {{ form_row(form.content, {
                            'label': 'Votre postulation:',
                            'attr': {
                                'placeholder' : 'Bonjour, je suis intéressé par votre offre...'
                            }
                        }) }}
                        <button class="btn btn-success">Poster !</button>
                    {{ form_end(form) }}
                </div>
            </div>
        {% endif %}
        <hr>
        <div class="row mt-3">
            <div class="col">
                {% for post in posts %}
                    {% if app.user.username is same as(post.username) %}
                        <h5>
                            Votre candidature 
                            <i style="font-size:14px">posté le {{ post.createdAt | date('m-d-Y') }}</i>
                            <i style="float:right">
                                <a class="ml-4" href="{{ path('edit_candidacy', {'id': post.id}) }}"><i class="far fa-edit"></i></a>
                                <a 
                                    href="{{ path('rm_candidacy', {'id': post.id}) }}" 
                                    onclick="return confirm('Voulez-vous vraiment supprimer votre candidature ?')"
                                ><i class="fas fa-trash"></i></a>
                            </i>
                        </h5>
                        <div class="ml-3">
                            <p>{{ post.content }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <script type="text/javascript" src="{{ asset('assets/js/flashMsg.js') }}"></script>
{% endblock %}
