{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    
        {{ form_row(form.content, {
            'label': 'Votre candidature:'
        }) }}

        <button class="btn btn-success">Éditer !</button>

    {{ form_end(form) }}
{% endblock %}
