{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="row">
            <div class="col-6">
                {% if edit %}
                    <h2>Éditer une offre</h2>
                {% else %}
                    <h2>Ajouter une offre</h2>
                {% endif %}
            </div>
            <div class="col-6">
                {% if edit %}
                    <h3 class="mb-4">Éditer et/ou ajouter compétence(s):</h3>
                {% else %}
                    <h3 class="mb-4">Ajouter compétence(s):</h3>
                {% endif %}
            </div>
        </div>

        <hr>

        {{ form_start(form) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.title, { 
                        'label': 'Le Titre de votre annonce:',
                        'attr': {
                            'placeholder': 'titre'
                        }
                    }) }}
                    {{ form_row(form.content, { 
                        'label': 'La description de votre annonce:',
                        'attr': {
                            'placeholder': 'Vend mon objet...'
                        }
                    }) }}
                </div>
                <div class="col-6">    
                    {% for skill in form.skill %}
                        <div id="{{ skill.vars.id }}">
                            {{ form_row(skill.level, { 
                                'label': 'Niveau de compétence souhaité:'
                            }) }}
                            {{ form_row(skill.competence, { 
                                'label': 'Quel compétence ?'
                            }) }}
                            <a href="#" onclick="rm('{{ skill.vars.id }}')" class="btn btn-danger">supprimer</a>
                        </div>
                        {% if loop.last %}<hr>{% endif %}
                    {% endfor %}

                    <div class="form-row">
                        <div class="col">
                            <ul class="competence" data-prototype="{{ form_widget(form.skill.vars.prototype.competence) | e('html_attr') }}"></ul>
                            <ul class="level" data-prototype="{{ form_widget(form.skill.vars.prototype.level) | e('html_attr') }}"></ul>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <button class="btn btn-success">Valider</button>

            {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('assets/js/symfonyForm.js') }}"></script>
    </div>
{% endblock %}