{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-8">
            {% if ads | length < 1 %}
                <h3>Il ne semble pas y avoir d'annonce actuellement !</h3>
            {% else %}
                <h3>Parcourez les annonces ! <i style="font-size:14px">(total: {{ totalAds }})</i></h3>
                {% for ad in ads %}
                    <div class="card mb-3">
                        <div class="card-header">
                            {{ ad.title }}
                            {% if app.user %}
                                <i style="float:right">
                                    {% if app.user.username is same as(ad.user.username) %}
                                        <a class="ml-4" href="{{ path('edit_ad', {'id': ad.id}) }}"><i class="far fa-edit"></i></a>
                                        <a 
                                            href="{{ path('rm_ad', {'id': ad.id}) }}" 
                                            onclick="return confirm('Voulez-vous vraiment supprimer votre annonce ?')"
                                        ><i class="fas fa-trash"></i></a>
                                    {% endif %}
                                </i>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Description</h5>
                            <p class="card-text">{{ ad.content | raw | slice(0, 550) }} {% if ad.content | length > 549 %}(...){% endif %}</p>
                        </div>
                        <div class="card-footer">
                            {% if ad.updateAt %}
                                <span>Modifé par <strong>{{ ad.user.username }}</strong> le {{ ad.updateAt | date('m-d-Y') }}</span>
                            {% else %}
                                <span>Posté par <strong>{{ ad.user.username }}</strong> le {{ ad.createdAt | date('m-d-Y') }}</span>
                            {% endif %}
                            <a style="float:right" href="{{ path('ad_detail', {'id': ad.id}) }}">
                                <i class="fa fa-ellipsis-h"></i>
                            </a>
                            {% if app.user.username is same as(ad.user.username) %}
                                <i style="float:right" class="mr-3">
                                    candidature: <span class="badge badge-dark">{{ ad.count }}</span>
                                </i>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="row">
                <div class="paginator">
                    {{ knp_pagination_render(ads, null, {}, {
                        'position': 'centered',
                        'size': 'small',
                        'rounded': true,
                        }) }}
                </div>
            </div>
        </div>

        <div class="col-md-3 offset-md-1">
            <h3>Dernières annonces</h3>
            {% for ad in lastAd %}
                <a href="{{ path('ad_detail', {'id': ad.id}) }}" style="text-decoration:none; color:black">
                    <div class="card mb-2" style="width: 18rem;">
                        <h5 class="card-header">
                            {{ ad.title }}
                            <i style="float:right; font-size: 14px" class="pt-1">
                                {{ ad.user.username }}
                            </i>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <i>{{ ad.content | raw | slice(0, 155) }}</i> {% if ad.content | length > 154 %}(...){% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
