{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            {% if ads | length < 1 %}
                <h3>Vous n'avez candidaté pour aucune annonce !</h3>
            {% else %}
                <h3>Vos candidatures !</h3>
                {% for ad in ads %}
                    <div class="card mb-3">
                        <div class="card-header">
                            {{ ad.title }}
                            <i style="float:right">
                                {% if app.user.username is same as(ad.user.username) %}
                                    <a class="ml-4" href="{{ path('edit_ad', {'id': ad.id}) }}"><i class="far fa-edit"></i></a>
                                    <a href=""><i class="fas fa-trash"></i></a>
                                {% endif %}
                            </i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Description</h5>
                            <p class="card-text">{{ ad.content | raw }}</p>
                        </div>
                        <div class="card-footer">
                            <span>Posté par <strong>{{ ad.user.username }}</strong> le {{ ad.createdAt | date('m-d-Y') }}</span>
                            {% if app.user.username is same as(ad.user.username) %}
                                <i style="float:right">
                                    Il y {{ ad.adPosts | length }} candidature(s) !
                                </i>
                            {% endif %}
                            <a style="float:right" href="{{ path('ad_detail', {'id': ad.id}) }}">
                                <i class="fa fa-ellipsis-h"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="row">
                <div class="paginator">
                    {{ knp_pagination_render(ads, null, {}, {
                        'position': 'centered',
                        'size': 'small',
                        'rounded': true,
                        }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
